{% extends "page.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ page.title|striptags }}{%endblock%}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(page) %}
    {{ translations.entry_hreflang(page) }}
  {% endif %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>

{% endblock %}

{% block content %}
<div id="page-content" class="container">
    <div class="container-fluid">
        <div id="landing" class="container" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/visual_system_opaque.png');">
            <div class="display-1 d-flex justify-content-center align-items-end">{{ page.title }}</div>
        </div>
    </div>
    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}

    <div class="lead">
        {{ page.content }}
    </div>

    <!-- Masonry grid with profile cards -->
    <div class="grid container">

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prof. Mgr. Michal Chabada, PhD.</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Principal Investigator</h6>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>michal.chabada (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/prof-michal-chabada-phd/"><i class="far fa-id-card"></i></a>
                    </h6>
                    <p class="card-text">
                        The principal investigator Michal Chabada is a prominent
                        slovak scholar of the history and thought systems of medieval
                        philosophy. In the project, he investigates the conceptions of
                        natural normativity in the aristotelian ethical naturalism and the
                        relationship between philosophy/science and supranaturalism in
                        medieval and contemporary approaches. As the principal investigator
                        he also provides the overall management and organization of
                        project's activities.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prof. PhDr. Zlatica Plašienková, PhD.</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>zlatica.plasienkova (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/prof-phdr-zlatica-plasienkova-phd/"><i class="far fa-id-card"></i></a>
                    </h6>
                    <p class="card-text">
                        The expertise of Zlatica Pašienková covers a wide range
                        of ethical and ecophilosophical problems. Her main aim in the
                        project is to investigate various ethical problems arising in
                        relation to naturalism, and naturalism's explanatory capabilities
                        and limits. She is especially interested in the question of
                        evolutionary basis of human morality.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Prof. PhDr. Emil Višňovský, PhD.</h5>

                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>emil.visnovsky (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/prof-phdr-emil-visnovsky-phd/"><i class="far fa-id-card"></i></a>
                    </h6>

                    <p class="card-text">
                        Emil Višňovský is a recognized expert on philosophy of
                        pragmatism, which is also the area he covers in this
                        project. He is mainly interested in the ontological
                        relationship between nature and culture, pragmatistic
                        naturalism, the analysis of the concept of a human being
                        as an unity of natural and cultural being, and in
                        overcoming the dualism of natural and socio-humanistic
                        sciences in the philosophy of science.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Doc. PhDr. Ivan Buraj, PhD.</h5>

                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>ivan.buraj (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/doc-phdr-ivan-buraj-phd/"><i class="far fa-id-card"></i></a>
                    </h6>

                    <p class="card-text">
                        Ivan Buraj specializes in problems of social and
                        political philosophy, with special interest in questions
                        of power. In this project, he will examine the
                        relationship between human biology and social life, as
                        well as their possible interconnection in the concept of
                        biopower. 
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Doc. Mgr. Erika Lalíková, PhD. </h5>

                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>erika.lalikova (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/doc-erika-lalikova-phd/"><i class="far fa-id-card"></i></a>
                    </h6>

                    <p class="card-text">
                        Erika Lalíková specializes in history of Slovak and
                        Czech philosophy in which naturalism was a distinct
                        current alongside neo-positivism, realism, and
                        neo-Thomism. She will focus on works of I. Hrušovský, G.
                        Vámoš, S. Štúr, and others. 
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Doc. PhDr. Mariana Szapuová, PhD.</h5>

                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>mariana.szapuova (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/doc-phdr-mariana-szapuova-phd/"><i class="far fa-id-card"></i></a>
                    </h6>

                    <p class="card-text">
                        Mariana Szapuová is most known for her involvement in
                        and forming of feminist philosophy in Slovakia, and for
                        her efforts to introduce a feminist perspective to
                        philosophy of science. Her research in the project is
                        focused on feminist epistemology, with the aim to
                        investigate primarily those forms of naturalized and
                        social epistemology which deal with the socio-cultural
                        context of knowledge production. 
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mgr. Adam Greif, PhD.</h5>

                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>adam.greif (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-adam-greif-phd/"><i class="far fa-id-card"></i></a>
                    </h6>


                    <p class="card-text">
                        In addition to his role as a researcher, Adam Greif
                        performs various administrative and organizational
                        functions in the project. As a researcher, he focuses on
                        naturalistic conceptions in contemporary metaethics that
                        claim that all moral facts are natural ones. His aim is
                        to investigate the possibilities and limits of these
                        approaches. 
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mgr. Róbert Maco, PhD.</h5>

                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>robert.maco (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-robert-maco-phd/"><i class="far fa-id-card"></i></a>
                    </h6>

                    <p class="card-text">
                        Heterogenous interests of Róbert Maco cover wide area of
                        diverse topics, such as the history of modern
                        philosophy, the philosophy of science or the philosophy
                        of mathematics. In the project, he is interested in
                        investigating naturalism as a metaphilosophical
                        position, naturalistic tendencies in contemporary
                        philosophy of science, and critiques of naturalism in
                        the history of 20th century philosophy. 
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mgr. Martin Nuhlíček, PhD.</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>martin.nuhlicek (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-martin-nuhlicek-phd/"><i class="far fa-id-card"></i></a>
                    </h6>
                    <p class="card-text">
                        Martin Nuhlíček focuses on questions of contemporary,
                        mainly analytic epistemology. Within this project, he is interested
                        in naturalistic positions in epistemology, with emphasis given to
                        problems related to epistemic normativity. He also performs various
                        administrative and organizational roles in the project as the
                        principal investigator's deputy.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mgr. Andrea Fábiková, PhD.</h5>

                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>andrea.fabikova (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-andrea-fabikova-phd/"><i class="far fa-id-card"></i></a>
                    </h6>


                    <p class="card-text">
                        The research of Andrea Fabikova is directed towards the
                        clarification of theoretical position of evolutionary
                        naturalism. Her aim is to develop philosophical
                        positions related to cogntion, language or morals
                        informed by evolutionary perspective in confrontation
                        with critics of this kind of approach. She became a
                        member of our team on the september 2020.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mgr. Katarína Sklutová</h5>

                    <h6 class="card-subtitle mb-2 text-muted">
                        <i class="fas fa-envelope"></i>katarina.sklutkova (at) uniba.sk<a href="https://fphil.uniba.sk/katedry-a-odborne-pracoviska/katedra-filozofie-a-dejin-filozofie/clenovia-katedry/mgr-katarina-sklutova/"><i class="far fa-id-card"></i></a>
                    </h6>


                    <p class="card-text">
                        Katarína Sklutková is a doctoral student specializing in
                        philosophy of mind under the supervision of prof. Emil
                        Višňovský. She entered the project on 1. 1. 2021 and her
                        research activities will be related to naturalistic
                        conceptions of consciousness in contemporary
                        philosophical discussions about human mind.
                    </p>
                </div>
            </div>
        </div>

        <div class="grid-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mgr. Boris Slovinský</h5>

                    <p class="card-text">
                        Boris Slovinský was a part of our reasearch team until
                        the 31. 8. 2020, during his doctoral studies under the
                        supervision of doc. Mariana Szapuová. His theoretical
                        contributions consisted in analysis of naturalistic and
                        social-constructive approaches to the problem of role of
                        values in science.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <script>
     // init Masonry
     var $grid = $('.grid').masonry({
         // options
         itemSelector: '.grid-item',
         columnWidth: 380,
         gutter: 5,
         fitWidth: true
     });

     // layout Masonry after each image loads
     $grid.imagesLoaded().progress( function() {
         $grid.masonry('layout');
     });
    </script>

    {% if page.modified %}
        <p>
        Last updated: {{ page.locale_modified }}
        </p>
    {% endif %}
</div>
{% endblock %}
