#landing {
    background-image: url('./images/visual_system_opaque.png');
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 70% auto;
    background-attachment: fixed;
    background-position: 50% 15%;
}

#landing div {
    text-align: center;
}

#landing hr {
    width: 75%;
    border: 1px solid #01ac50;
    border: 1px solid #88c641;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 100;
    /* border: 0; */
    /* height: 3px; */
    /* background-image: -webkit-linear-gradient(left, #f0f0f0, #88c641, #f0f0f0); */
    /* background-image: -moz-linear-gradient(left, #f0f0f0, #88c641, #f0f0f0); */
    /* background-image: -ms-linear-gradient(left, #f0f0f0, #88c641, #f0f0f0); */
    /* background-image: -o-linear-gradient(left, #f0f0f0, #88c641, #f0f0f0); */
}
